*.log
local_settings.py
.idea/
venv/
uploads/
*.DS_Store
*.pyc
__pycache__
bin/
include/
lib/
\.env
staticfiles/
**/migrations/
content_manager/settings/production.py


*.sqlite3

databasesConfig\.txt
docs/_build

default

messengeruser

.coverage
