{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Upload success
{% endblock %}

{% block content %}
    <section class="post-list">
        <div class="container">
            <h1>Uploaded posts:</h1>
            <br>
            <article class="panel">
                <div class="table-container">
                    <table class="post-table" align="left" valign="top">
                        <tr>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        {% for result in results %}
                            <tr>
                                {% if result.error %}
                                    <td>Error</td>
                                    <td>{{ result.error }}</td>
                                    <td></td>
                                {% else %}
                                    <td>Success</td>
                                    <td>Post with name: {{ result.name }} has been created.</td>
                                    <td>
                                        <a href="{% url 'posts:post' id=result.pk %}"
                                            style="display: inline;">View</a> -
                                        <a href="{% url 'posts:edit-post' id=result.pk %}"
                                            style="display: inline;">Edit</a> -
                                        <a href="{% url 'posts:delete' id=result.pk %}"
                                            style="display: inline;">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div>
                    <a href="{% url 'posts:home' %}" class="btn" style="display: inline">Back to all posts</a> -
                <a href="{% url 'upload:upload' %}" class="btn" style="display: inline">Upload new file</a>
                </div>
            </article>
        </div>
    </section>
{% endblock %}