{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Upload
{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <article class="form-content">
            <h1>
                Upload File: {{ post.name }}
            </h1>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Upload">
            </form>
            </article>

           {% if length > 0 %}
                <article class="panel">
                    <h1>Posts:</h1>
                    <div class="table-container">
                        <table class="post-table" align="left" valign="top">
                            <tr>
                                <th>Name: </th>
                                <th>Thumbnail: </th>
                                <th>New: </th>
                                <th>Min Range: </th>
                                <th>Max Range: </th>
                                <th>Content: </th>
                                <th>Content Activity: </th>
                                <th>Preview: </th>
                                <th>Tags: </th>
                            </tr>
                            {% for post in posts %}
                                <tr>
                                    <td valign="top">{{ post.name }}</td>
                                    <td valign="top">
                                        <a href="{{ post.thumbnail }}" target="_blank">
                                            <img src="{{ post.thumbnail }}" alt="">
                                        </a>
                                    </td>
                                    <td valign="top">{{ post.new }}</td>
                                    <td valign="top">{{ post.min_range }}</td>
                                    <td valign="top">{{ post.max_range }}</td>
                                    <td valign="top"><a href="{{ post.content }}">{{ post.content }}</a></td>
                                    <td valign="top"><div class="limited-content">{{ post.content_activity }}</div></td>
                                    <td valign="top"><div class="limited-content">{{ post.preview }}</div></td>
                                    <td valign="top"><div class="limited-content">{{ post.tags }}</div></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <a href="{% url 'upload:posts' filename=file %}" class="btn success">Import</a>
                </article>
           {% endif %}
        </div>
    </section>
{% endblock %}