{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Code {{ object.pk }}
{% endblock %}

{% block content %}
    <section class="post-list">
        <div class="container">
            <div class="panel">
                <h3 style="margin-bottom: 2em;">Code: {{ object.code }}</h3>

                <div style="width: 100%;">
                    <strong>ID: </strong><span>{{ object.pk }}</span><br>
                    <strong>Available: </strong><span>{{ object.available }}</span><br>
                    <strong>Created At: </strong><span>{{ object.created_at }}</span><br>
                    <strong>Updated At: </strong><span>{{ object.updated_at }}</span><br>
                    {% if not object.available %}
                        <strong>Assigned to user ID: </strong><span>{{ object.user_id }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}