{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Codes
{% endblock %}

{% block content %}
    <section class="post-list">
        <div class="container">
            <div class="panel">
                <div class="table-container">
                    <a href="{% url 'codes:generate' %}">Generate Codes</a>
                    <table class="post-table">
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>Available</th>
                            <th>User ID</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>{{ object.code }}</td>
                                <td>{{ object.available }}</td>
                                <td>{{ object.user_id }}</td>
                                <td>{{ object.created_at }}</td>
                                <td>
                                    <a href="{% url 'codes:code' code_id=object.pk %}">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}&{{ parameters }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}&{{ parameters }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}&{{ parameters }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}