{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Generate Codes
{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form action="." method="post">
                     <h2>Generate codes</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Generate">
                </form>
            </div>
        </div>
    </section>
{% endblock %}