{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Afinidata | Dashboard</title>
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/dashboard.css' %}">
</head>
<body>
    <header class="main-header">
        <h1 class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </h1>
        <nav class="main-nav">
            <ul>
                <li class="active"><a href="#">Data</a></li>
                <li><a href="#">Comparation</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </header>

    <section class="dashboard-content">
        <h2>Dashboard</h2>

        <div class="two-collumns">
            <div>
                <h4>Posts</h4>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                    </tr>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.pk }}</td>
                            <td>{{ post.name }}</td>
                            <td>{{ post.type }}</td>
                            <td>{{ post.created_at }}</td>
                            <td>{{ post.updated_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div>
                <h4>Users</h4>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Channel ID</th>
                        <th>Channel Type</th>
                        <th>Bot ID</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.pk }}</td>
                            <td>
                                {% for user_data in users_data %}
                                    {% if user_data.user_id == user.id and user_data.data_key == 'channel_first_name' %}
                                        {{ user_data.data_value }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for user_data in users_data %}
                                    {% if user_data.user_id == user.id and user_data.data_key == 'channel_last_name' %}
                                        {{ user_data.data_value }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ user.last_channel_id }}</td>
                            <td>Messenger (Facebook)</td>
                            <td>{{ user.bot_id }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div>
            <h4>Interactions</h4>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Post Name</th>
                    <th>User</th>
                    <th>Type</th>
                    <th>Time</th>
                    <th>Date</th>
                </tr>
                {% for interaction in interactions %}
                    <tr>
                        <td>{{ interaction.pk }}</td>
                        <td>
                            {% for post in posts %}
                                {% if post.pk == interaction.post_id %}
                                    {{ post.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                           {% for user in users %}
                               {% if user.last_channel_id == interaction.channel_id %}
                                   {% for user_data in users_data %}
                                       {% if user_data.user_id == user.pk and user_data.data_key == 'channel_first_name' %}
                                           {{ user_data }}
                                       {% endif %}
                                       {% if user_data.user_id == user.pk and user_data.data_key == 'channel_last_name' %}
                                           {{ user_data }}
                                       {% endif %}
                                   {% endfor %}
                               {% endif %}
                           {% endfor %}
                        </td>
                        <td>
                            {{ interaction.type }}
                        </td>
                        <td>
                            {% if interaction.type == 'opened' %}
                                --
                            {% else %}
                                {{ interaction.minutes }} minutes
                            {% endif %}
                        </td>
                        <td>{{ interaction.created_at }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</body>
</html>