{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Login
{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if form.errors %}
                        <p class=" label label-danger">
                            Your username and password didn't match.
                            Please try again.
                        </p>
                    {% endif %}
                    <div>
                        <input type="submit" value="Login">
                        {% if request.GET.redirect_to %}
                            <input type="hidden" name="redirect_to" value="{{ request.GET.redirect_to }}" />
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}