{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Reset password
{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Reset password">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}