{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Sign Up
{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Sign Up">
                    </div>
                    <div>
                        <strong>Have you an account? </strong>
                        <a href="{% url 'static:login' %}" class="link">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}