{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52497918-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52497918-4');
    </script>

</head>
<body>
    <header>
        <a href="http://afinidata.com" class="logo">
            <h1>Afinidata</h1>
            <img src="{% static 'images/logo.png' %}" alt="">
        </a>
    </header>
    {% if request.user.is_authenticated %}
        <nav class="header-nav">
            <ul>
                <li><a href="{% url 'posts:new' %}">New Post</a></li>
                <li><a href="{% url 'posts:home' %}">Posts</a></li>
                <li><a href="{% url 'posts:reviews' %}">Reviews</a></li>
                <li><a href="{% url 'upload:upload' %}">Upload File</a></li>
                <li><a href="{% url 'codes:codes' %}">Codes</a></li>
                <li><a href="{% url 'static:logout' %}">Logout</a></li>
            </ul>
        </nav>
    {% endif %}
        {% if messages %}
          <div class="messages-content">
            <div class="container">
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
    {% block content %}{% endblock %}
    {% if user.is_authenticated %}
        <footer class="main-footer">
            <strong>User: </strong><span>{{ request.user.username }}</span>
                <a href="{% url 'static:logout' %}">Logout</a>,
                <a href="{% url 'static:change_password' %}">Change password</a>
        </footer>
    {% endif %}
</body>
    {% block scripts %}{% endblock %}
    <script src="{% static 'js/post.js' %}"></script>
    <script src="{% static 'js/edit-post.js' %}"></script>
</html>