{% extends 'posts/base.html' %}

{% block title %}Afinidata | Edit Question Reply{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form method="post">
                    <h1>Edit Question Reply</h1>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-submit">
                        <input type="submit" value="Edit Question Reply">
                    </div>
                    <br>
                    <div>
                        <a href="{% url 'posts:edit-question' id=question_id %}" class="link">Back to question</a> -
                        <a href="{% url 'posts:questions' %}" class="link">Back to all questions</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}