{% extends 'posts/base.html' %}

{% block title %}Edit post {% endblock %}

{% block content %}
    <section class="post-form edit-post-form" data-post-id="{{ post.pk }}">
        <div class="container">
            <article class="form-content">
            <h1>
                Edit Post: {{ post.name }}
                <a href="{% url 'posts:posts-list' %}" class="link" style="font-size: .7em; font-weight: normal; text-decoration: underline;">Back to list</a>
                <a href="{% url 'posts:reviews' %}" class="link" style="font-size: .7em; font-weight: normal; text-decoration: underline;">Back to Reviews</a>
                <div>
                    <small>Status: {{ post.status }},</small>
                    <small>Created: {{ post.created_at|date:"d M Y h:i" }},</small>
                    <small>Last updated: {{ post.updated_at|date:"d M Y h:i" }},</small>
                    <small>Author: {{ post.user.username }}</small>
                </div>
            </h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Update Post">
                        <a href="{% url 'posts:delete' id=post.pk %}" style="display: inline" class="link">Delete Post</a>
                        {% if post.status == 'draft' or post.status == 'rejected' %}
                            <a href="{% url 'posts:send_to_review' id=post.pk %}" style="display: inline" class="link">Send to Review</a>
                        {% endif %}
                    </div>


                </form>
                <div class="tags">
                    <h3>Add tag: </h3>
                    <input type="text" id="tags-input" list="tags-datalist">
                    <datalist id="tags-datalist"></datalist>

                    <div class="tags-content"></div>

                    <h3>Questions:</h3>

                    {% if post.question_set.count > 0 %}
                        <ul class="list">
                            {% for question in post.question_set.all %}
                                <li><span>{{ question.name }}</span> - <a href="{% url 'posts:question' id=question.pk %}" class="link">View</a> - <a href="{% url 'posts:edit-question' id=question.pk %}" class="link">Edit</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span>No questions for this post.</span><br>
                    {% endif %}

                    <a href="{% url 'posts:new-question' %}" class="link">Add post question</a>
                </div>

            </article>
        </div>
    </section>
{% endblock %}