{% extends 'posts/base.html' %}

{% block title %}Edit post {% endblock %}

{% block content %}
    <section class="post-form edit-post-form" data-post-id="{{ post.pk }}">
        <div class="container">
            <article class="form-content">
            <h1>
                Edit Post: {{ post.name }}
                <div>
                    <small>Created: {{ post.created_at|date:"d M Y h:i" }}</small>
                    <small>Last updated: {{ post.updated_at|date:"d M Y h:i" }}</small>
                </div>
            </h1>
                <form action="./edit" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ post.pk }}">
                    <div>
                        <label for="name">Name: </label>
                        <input type="text" name="name" value="{{ post.name }}">
                    </div>
                    <div>
                        <label for="author">Author: </label>
                        <input type="text" name="author" value="{{ post.author }}">
                    </div>
                    <div>
                        <label for="thumbnail">Thumbnail: </label>
                        <input type="text" name="thumbnail" value="{{ post.thumbnail }}">
                    </div>
                    {% if post.new %}
                        <div>
                            <label for="new">Is new?: </label>
                            <input type="checkbox" name="new" checked>
                        </div>
                    {% else %}
                        <div>
                            <label for="new">Is new?: </label>
                            <input type="checkbox" name="new">
                        </div>
                    {% endif %}
                    <div>
                        <label for="min_range">Min range: </label>
                        <input type="number" name="min_range" value="{{ post.min_range }}">
                    </div>
                    <div>
                        <label for="max_range">Max range: </label>
                        <input type="number" name="max_range" value="{{ post.max_range }}">
                    </div>
                    <div>
                        <label for="area_id">Area: </label>
                        <input type="number" name="area_id" value="{{ post.area_id }}">
                    </div>
                    <div>
                        <label for="content">Content: </label>
                        <textarea name="content" id="" cols="30" rows="10">{{ post.content }}</textarea>
                    </div>
                    <div>
                        <label for="preview">Preview: </label>
                        <textarea name="preview" id="" cols="30" rows="10">{{ post.preview }}</textarea>
                    </div>
                    <div>
                        <label for="type">Type:</label>
                        <select name="type" id="" value="{{ post.type }}">
                            <option value="embeded">Embeded</option>
                            <option value="youtube">Youtube Video</option>
                        </select>
                    </div>
                    <div>
                        <input type="submit" value="Update Post">
                    </div>
                </form>
                <div class="tags">
                    <label for="">Add tag: </label>
                    <input type="text" id="tags-input" list="tags-datalist">
                    <datalist id="tags-datalist"></datalist>

                    <div class="tags-content"></div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}