{% extends 'posts/base.html' %}

{% block title %}
    Post list
{% endblock %}

{% block content %}
    <section class="post-list">
        <div class="container">
            <a href="{% url 'posts:new' %}?quest=afini" class="btn">Create new</a>
            <ul>
                {% for post in posts %}
                    <li>
                        <article class="panel">
                            <h2>{{ post.pk }} {{ post.name }} <small>{{ post.created_at }}</small></h2>
                            <a href="{% url 'posts:edit-post' id=post.pk %}" target="_blank">Edit</a>
                            <a href="{% url 'posts:delete' id=post.pk %}" target="_blank">Delete</a>
                            <div style="width: 100%;">
                                <h3>Stats:</h3>
                                <ul>
                                    <li><strong>Sent Users / Users: </strong><span>{{ post.total_sended_users }}/{{ post.users }}</span></li>
                                    <li><strong>Total Minutes / Av. Minutes: </strong><span>{{ post.session_total }}/{{ post.session_average }}</span></li>
                                    <li><strong>Clicks (Views): </strong><span>{{ post.clicks }}</span></li>
                                    <li><strong>Total Feedback: </strong><span>{{ post.feedback_total }}</span></li>
                                    <li><strong>Av. Feedback: </strong><span>{{ post.feedback_average }}</span></li>
                                    <li><strong>Users to give Feedback: </strong><span>{{ post.feedback_total_users }}</span></li>
                                    <li><strong>Users to use post (activity):</strong><span>{{ post.total_used_users }}</span></li>
                                    <li><strong>Ranges: </strong><span>{{ post.min_range }} - {{ post.max_range }}</span></li>
                                    {% if post.content_activity %}
                                        <li><strong>Has activity?: </strong><span>Yes</span></li>
                                    {% else %}
                                        <li><strong>Has activity?: </strong><span>No</span></li>
                                    {% endif %}

                                </ul>
                                <h3>Configuration:</h3>
                                <ul>
                                    <li><strong>Preview: </strong><br><span>{{ post.preview }}</span></li>
                                    <li><strong>Is new?</strong><span>{{ post.new }}</span></li>
                                    {% if post.question_set.count > 0 %}
                                        <li style="width: 100%">
                                            <strong>Questions:</strong><br>
                                            <ol>
                                                {% for question in post.question_set.all %}
                                                    <li>
                                                        <span>{{ question.name }}</span> - <a style="width: auto; display: inline-block" href="{% url 'posts:edit-question' id=question.pk %}">Edit</a><br>
                                                        <p><strong>Replies: </strong>{{ question.replies }}</p>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <strong>Tags:</strong>
                                        {% for tag in post.label_set.all %}
                                            <span class="tag-item">{{ tag.name }}</span>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>

                            <div style="width: 100%;">
                                <strong>View Post: </strong>
                                <a href="{{ domain }}{% url 'posts:post' id=post.pk %}">{{ domain }}{% url 'posts:post' id=post.pk %}</a>
                            </div>
                            <div style="width: 100%;">
                                <strong>View Statistics: </strong>
                                <a href="{{ domain }}{% url 'posts:post-statistics' id=post.pk %}">{{ domain }}{% url 'posts:post-statistics' id=post.pk %}</a>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}