{% extends 'posts/base.html' %}

{% block title %}Afinidata | New Question{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form method="post">
                    <h1>New Question</h1>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-submit">
                        <input type="submit" value="Create Question">
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}