{% extends 'posts/base.html' %}

{% block title %}Create new Review{% endblock %}

{% block content %}
    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form action="." method="post">
                    {% csrf_token %}
                    <div>
                        <label for="">Post to review:</label>
                        <h2>{{ post.name }}</h2>
                    </div>
                    <br>
                    {{ form.as_p }}
                    <div>
                        <input type="submit" value="Send to Review">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}