{% extends 'posts/base.html' %}

{% block title %}post {{ postlocale.title }}{% endblock %}

{% block content %}
    <article id="post-article"
             data-id="{{ postlocale.post.id }}"
             data-type="{{ postlocale.type }}"
             data-session-id="{{ session_id }}">
    {% if post == None %}
        <span>Noting here</span>
    {% else %}

        {% if postlocale.post.type == 'embeded' %}
            <div class="embeded">
                <iframe src="{{ postlocale.link_post }}" frameborder="0"></iframe>
            </div>
        {% endif %}

        {% if postlocale.post.type == 'youtube' %}
            <div class="youtube-container">
                <div id="player"></div>
            </div>
        {% endif %}

    {% endif %}
    </article>
{% endblock %}

{% if postlocale.post.type != 'embeded' %}
    {% block scripts %}
        <script>
            //((type, content) => {
                //if(type == 'youtube') {
                    console.log('youtube here')
                    var tag = document.createElement('script');

                    tag.src = "https://www.youtube.com/iframe_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                    var player;
                    function onYouTubeIframeAPIReady() {
                      player = new YT.Player('player', {
                        height: '390',
                        width: '640',
                        videoId: '{{ postlocale.link_post }}',
                        events: {
                          'onReady': onPlayerReady,
                          'onStateChange': onPlayerStateChange
                        }
                      });
                    }

                    function onPlayerReady(event) {
                        //event.target.playVideo();
                    }

                    var done = false;

                    function onPlayerStateChange(event) {
                        if (event.data == YT.PlayerState.PLAYING && !done) {
                            setTimeout(stopVideo, 6000);
                            done = true;
                        }
                    }
                    function stopVideo() {
                        player.stopVideo();
                    }
                //}
            //})('{{ postlocale.post.type }}', '{{ postlocale.link_post }}')
        </script>
    {% endblock %}
{% endif %}
