{% extends 'posts/base.html' %}

{% block title %}Afinidata | Question{% endblock %}

{% block content %}
    <h1>Question</h1>

    <div class="content">
        <strong>Title: </strong>
        {{ question.name }}
        <br>
        <strong>Replies: </strong>
        {{ question.replies }}
    </div>

    <div class="list">
        Post to question: <a href="{% url 'posts:post' id=question.post.pk %}">{{ question.post.name }}</a>
    </div>
    <br>

    <a href="{% url 'posts:edit-question' id=question.pk %}">Edit question</a> -
    <a href="{% url 'posts:edit-post' id=question.post.pk %}">Back to edit post</a> -
    <a href="{% url 'posts:posts-list' %}">Back to post lists</a>

{% endblock %}