{% extends 'posts/base.html' %}

{% block title %}Afinidata | Edit Question{% endblock %}

{% block content %}

    <section class="post-form">
        <div class="container">
            <div class="form-content horizontal-center">
                <form method="post">
                    <h1>Edit Question</h1>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p style="margin-bottom: 1em;">Please write a coma (,) to separate different replies.</p>
                    {% if object.questionresponse_set.all.count > 0 %}
                        <div class="question_responses_content">
                            <h4>Replies with value: </h4><br>
                            <table class="post-table">
                                <tr>
                                    <th>Response</th>
                                    <th>Value</th>
                                    <th>Actions</th>
                                </tr>
                                {% for response in object.questionresponse_set.all %}
                                    <tr>
                                        <td>{{ response.response }}</td>
                                        <td>{{ response.value }}</td>
                                        <td>
                                            <a href="{% url 'posts:edit-response-for-question' question_id=object.pk response_id=response.pk %}">Edit</a> -
                                            <a href="">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}

                    <div class="form-submit">
                        <input type="submit" value="Edit Question">
                        <a href="{% url 'posts:question' id=object.pk %}">Back to question</a> -
                        <a href="{% url 'posts:questions' %}">Back to questions</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="responses-content">
        <div class="container">
            <div class="responses_form_content">
                <h3>Create new reply with value: </h3>
                <form action="{% url 'posts:create-question-response' id=question.pk %}" method="post">
                    <div class="inline-form-content">
                        {% csrf_token %}
                        {{ response_form.as_table }}
                    </div>
                    <div class="actions">
                        <input type="submit" value="Create Response" class="btn success">
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}