{% extends 'posts/base.html' %}

{% block title %}Afinidata | Questions{% endblock %}

{% block content %}
    <h1>Questions</h1>

    <ul>
        {% for question in questions %}
            <li>{{ question.name }} -
                <a href="{% url 'posts:question' id=question.pk %}">View</a> -
                <a href="{% url 'posts:edit-question' id=question.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'posts:new-question' %}">New Question</a>
{% endblock %}