{% extends 'posts/base.html' %}

{% block title %}
    Question | Delete
{% endblock %}

{% block content %}
    <section class="post-form edit-post-form">
        <div class="container">
            <article class="form-content">
            <h1>
                Delete Question: {{ question.name }}
            </h1>
                <form method="post">
                    {% csrf_token %}
                    <p style="margin-bottom: 1em;">Are you sure to delete? {{ question.name }}</p>
                    <input type="submit" value="Delete">
                    <a href="{% url 'posts:question' id=question.pk %}" class="link">Back to Question</a>
                </form>
            </article>
        </div>
    </section>
{% endblock %}