{% extends 'posts/base.html' %}

{% block  title%}
    Afinidata | Reviews
{% endblock %}

{% block content %}
    <div class="post-list">
        <div class="container">
            <div class="panel" style="max-width: 800px; left: 0; right: 0; margin: 0 auto;">
            <h2>Reviews ({{ role }})</h2>
            <div style="width: 100%; display: flex;">
                <a href="{% url 'posts:reviews' %}" class="btn" style="color: #fff; margin-right: 5px;">All</a>
                <a href="{% url 'posts:reviews' %}?status=pending" class="btn" style="color: #fff; margin-right: 5px;">Pending</a>
                <a href="{% url 'posts:reviews' %}?status=completed" class="btn" style="color: #fff; margin-right: 5px;">Completed</a>
            </div>

            <ul style="width: 100%;">
                {% for review in reviews %}
                    <li>
                        <strong>Post: </strong><span>{{ review.post.name }} (#{{ review.post.pk }})</span><br>
                        <strong>Review status: </strong><span>{{ review.status }}</span> |

                        <a style="display: inline;"
                           href="{% url 'posts:post-review' id=review.post.pk review_id=review.pk %}">View</a>
                    </li>
                {% endfor %}
            </ul>

            {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}&{{ parameters }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}&{{ parameters }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}&{{ parameters }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}