{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Review
{% endblock %}

{% block content %}
    <div class="post-list">
        <div class="container">
            <div class="panel" style="max-width: 800px; left: 0; right: 0; margin: 0 auto;">
                <div>
                    <h2>Review ({{ review.status }})</h2>
                    <h3>Post Details: </h3>
                    {% if review.status == 'pending' or request.user.is_superuser %}
                        <a href="{% url 'posts:edit-post' id=post.pk %}" style="display: inline;">Edit post</a>
                    {% else %}
                        {% if request.user == post.user and post.status != 'published' %}
                            <a href="{% url 'posts:edit-post' id=post.pk %}" style="display: inline;">Edit post</a>
                        {% endif %}
                    {% endif %}
                    <ul>
                        <li><strong>ID: </strong><span>{{post.pk}}</span></li>
                        <li>
                            <strong>Name: </strong><span>{{ post.name }} </span>
                            {% if review.status == 'completed' %}
                                <span>({{ post.status }})</span>
                            {% endif %}
                        </li>
                        <li><strong>Content: </strong><a href="{{ post.content }}">{{ post.content }}</a></li>
                        <li><strong>Author: </strong><span>{{ post.user.first_name }} {{ post.user.last_name }} ({{ post.user.username }})</span></li>
                        <li><strong>Preview: </strong><span>{{ post.preview }}</span></li>
                        <li><strong>Content Activity: </strong><p>{{ post.content_activity }}</p></li>
                        <li><strong>Ranges: </strong><span>{{ post.min_range }} - {{ post.max_range }}</span></li>
                        <li><strong>Questions: </strong>
                            <ol>
                                {% for question in post.question_set.all %}
                                    <li>
                                        <strong>Question: </strong><span>{{ question.name }}</span><br>
                                        <strong>Replies: </strong><span>{{ question.replies }}</span>
                                    </li>
                                {% endfor %}

                            </ol>
                        </li>
                        <li><strong>Tags: </strong>
                            {% for tag in post.label_set.all %}
                                <span class="tag-item">{{ tag.name }}</span>
                            {% endfor %}
                        </li>
                        <li>
                            <strong>Thumbnail: </strong>
                            <img src="{{ post.thumbnail }}" alt="" style="width: auto; max-width: 300px; display: block">
                        </li>
                    </ul>

                    <h3>User comment:</h3>
                    <br>
                    <p>{{ review.comment }}</p>
                    <br>
                    <a href="{% url 'posts:reviews' %}" style="display: inline;">Back to Reviews</a>
                    {% if review.status == 'pending' %}
                        {% if request.user.is_superuser or role.role == 'reviser' %}
                            - <a href="{% url 'posts:accept-review' review_id=review.pk %}"
                               style="display: inline">Publish Post</a> -
                            <a href="{% url 'posts:reject-review' review_id=review.pk %}"
                               style="display: inline">Reject Post</a>
                        {% endif %}
                    {% endif %}

                    {% if review.rejection_set.count > 0 %}
                        <h3>Rejection Annotations</h3>
                        <br>
                        {% for rejection in review.rejection_set.all %}
                            {{ rejection.comment }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}