{% extends 'posts/base.html' %}

{% block title %}
    Afinidata | Review Post
{% endblock %}

{% block content %}
    <div class="post-list">
        <div class="container">
            <div class="panel" style="max-width: 800px; left: 0; right: 0; margin: 0 auto;">
                <h2>Review</h2>
                <div style="width: 100%;">
                    <strong>Name: </strong><span>{{ post.name }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Author: </strong><span>{{ post.author }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Thumbnail: </strong><span>{{ post.thumbnail }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Is new?: </strong><span>{{ post.new }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Type: </strong><span>{{ post.type }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Ranges: </strong><span>{{ post.min_range }} - {{ post.max_range }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Area ID: </strong><span>{{ post.area_id }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Content: </strong><span>{{ post.content }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Preview: </strong><span>{{ post.preview }}</span>
                </div>
                <div style="width: 100%;">
                    <strong>Tags: </strong>
                    <span>
                        {% if post.label_set.count > 0 %}
                            {% for label in post.label_set.all %}
                                {{ label.name }},
                            {% endfor %}
                        {% else %}
                            <span>No tags for post {{ post.pk }}.</span>
                        {% endif %}
                    </span>
                </div>
                <div style="width: 100%">
                    <strong>Questions:</strong>
                    {% if post.question_set.count > 0 %}
                        <ol>
                            {% for question in post.question_set.all %}
                                <li>{{ question.name }} <a style="display: inline-block;" href="{% url 'posts:edit-question' id=question.pk %}">Edit</a></li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <span>No questions for post {{ post.pk }}.</span>
                    {% endif %}
                    <br>
                </div>
                <div>
                    <a href="{% url 'posts:posts-list' %}" style="display: inline-block">View all posts</a> -
                    <a href="{% url 'posts:post' id=post.pk %}" style="display: inline-block">View Post</a> -
                    <a href="{% url 'posts:edit-post' id=post.pk %}" style="display: inline-block">Edit Post</a> -
                    {% if post.question_set.count <= 0 %}
                        <a href="{% url 'posts:new-question' %}" style="display: inline-block">Create question</a>
                    {% else %}
                        <a href="{% url 'posts:new-question' %}" style="display: inline-block">Add new question</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}