{% extends 'posts/base.html' %}

{% block title %}post statistics{% endblock %}

{% block content %}
    <section class="post-statistics">
        <div class="statistics-content">
            <div class="container">
                <h1>Statistics for post {{ post.pk }}</h1>
                <div class="panel">
                    <strong>Name: </strong>
                    <span>{{ post.name }}</span>

                    <strong>Created At: </strong>
                    <span>{{ post.created_at|date:"d-m-Y" }}</span>

                    <strong>Last Update At: </strong>
                    <span>{{ post.updated_at|date:"d-m-Y" }}</span>

                    <strong>Author: </strong>
                    <span>{{ post.user.username  }}</span>

                    <strong>Url: </strong>
                    <a href="{{ domain }}{% url 'posts:post' id=post.pk %}" target="_blank">{{ domain }}{% url 'posts:post' id=post.pk %}</a>

                </div>
                <div class="panel small-panel">
                    <div class="target">
                        <strong>Users</strong>
                        <span>{{ channel_users }}</span>
                    </div>
                    <div class="target">
                        <strong>Clicks</strong>
                        <span>{{ clicks.count }}</span>
                    </div>
                    <div class="target">
                        <strong>Total Minutes</strong>
                        <span>{{ session_minutes }}</span>
                    </div>
                    <div class="target">
                        <strong>Average Minutes</strong>
                        <span>{{ session_average }}</span>
                    </div>
                    <div class="target">
                        <strong>Total Feedback</strong>
                        <span>{{ feedback_total }}/{{ feedback_ideal }}</span>
                    </div>
                    <div class="target">
                        <strong>Average Feedback</strong>
                        <span>{{ feedback_average }}</span>
                    </div>
                </div>

                <div class="panel">
                    <strong>tags: </strong>
                    {% for tag in post.label_set.all %}
                        <span class="tag-item">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}